*{
    margin: 0px;
    padding: 0px;
}

.logo {
    position: relative;
    margin: 30px 50px 20px 20px;
    left: 40px;
}
.logo img{
    position: relative;
    left: 10%;
    top: -40px;
}

.slogan {
    position: relative; 
    display: inline-block;
    margin: 20px 10px 0px 0px;
    top: -20px;
    left: 12%;
}

.slogan h4{
    font-family: 'Edwardian Script ITC';
    font-weight: bold;
    font-size: 190%;
}

.slogan h2 {
    position: relative;
    text-align: center;
    color: rgb(0, 110, 192);
    font-style: italic;
    font-size: 200%;
    top: -10px;
}

.fondo2::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 110, 192, 0.85);
}

.fondo2 {
    position: relative;
    top: -10px;
    margin: auto;
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    color: white;
    background-image: url('../imagenes/reloj.jpg');
    background-size: cover;
    background-position: center center;
}

.fondo2 h1 {
    position: absolute;
    top: 30px;
    left: 5%;
    font-size: 200%;
    font-family: 'arial narrow';
    font-weight: bold;
    font-style: italic;
}

.salir{
    position: relative;
    left: 65px;
}

.boton li {
    list-style-type: none;
    margin: 0px 5px;
}

.navegacion2 .menu2{
    list-style: none;
    position: absolute;
    display: flex;
    width: 20%;
    margin: 0px;
    padding: 0px;
    left: 79%;
    top: 35px;
}

.menu2 > li{
    padding: 0px 5px;
}

.submenu2 {
    position: absolute;
    margin: 0px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    width: 60%;      
}

.submenu2 li{
    background: rgba(0, 110, 192, 0.5);
    width: 100%;
}

.submenu2 li a{
    display: block;
    padding: 7px 15px;
    color: white;
    font-family: 'arial narrow';
    font-size: 110%;
    text-decoration: none;
}

.menu2 li:hover .submenu2{
   visibility: visible;
   opacity: 1;
   right: 80px;
}

.submenu2 li a:hover{
    position: relative;
    font-family: 'arial narrow';
    left: 5%;
    color: lightseagreen;
    font-weight: bold;
}

.navegacion{
    position: relative;
    top: -10px;
    width: 100%;
    height: 50px;
    margin: 0px 0px 0px 0px;
    box-shadow: rgb(193, 194, 196) 7px 7px 7px;
}

.navegacion ul{
    list-style: none;
}

.menus > li{
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 0px 0px;
    left: 7%;
}

.menus > li:hover{
    border-bottom: solid 2px rgb(48, 156, 238);
}

.menus > li > a{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
    color: gray;
    font-family: 'arial narrow';
    font-size: 120%;
    width: 85%;
}


.menus li a:hover{
    color: #11408D;
    border-radius: 10px;
    font-family: 'arial narrow';
}

.submenu {
    position: absolute;
    background: rgba(0, 110, 192, 0.8);
    border-radius: 5px;
    margin: 2px 0px;
    width: 230px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a{
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: 'arial narrow';
    font-size: 120%;
    text-decoration: none;
}

.menus li:hover .submenu{
   visibility: visible;
   opacity: 1;
   border-radius: 10px;
}

.submenu li a:hover{
    background: white;
    font-family: 'arial narrow';
}

.titulo {
    position: relative;
    font-family: 'arial narrow';
    color: rgb(0, 110, 192);
    font-size: 160%;
    left: 10%;
    margin: 30px 0px 0px 0px;
    width: 200px;
}

.linea {
    position: relative;
    border: solid 1px rgb(0, 110, 192);
    width: 80%;
    left: 9%;
    }

textarea {
    position: relative;
    font-family: 'arial narrow';
    font-size: 100%;
    resize: vertical;
    max-height: 300px;
    min-height: 100px;
}

button{
    position: relative;
    width: 100%;
    left: 22%;
}

.col-md-8 form{
    box-shadow: rgb(193, 194, 196) 7px 7px 7px 7px;
}

form{
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px 0px;
}

.col-md-4 h2{
    position: relative;
    font-family: 'arial narrow';
    color: rgb(0, 110, 192);
    font-size: 220%;
    width: 200px;
}

.col-md-4 img{
    position:relative;
    display: block;
    height: 250px; 
}

.pie {
    position: absolute;
    background: #11408D;
    width: 99%;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

.pie p {
    position: relative;
    left: 0%;
    margin: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:hover{
    color: orangered;
}
