*{
    margin: 0px;
    padding: 0px;
}

h4 {
    position: relative;
    font-size: 250%;
    margin: 0px;
    width: 500px;
    left: 30%;
    font-family: 'Edwardian Script ITC';
}
.encabezado {
    position: relative;
    top: 35px;
    left:27%;
    width: 100px;
}

.encabezado2 {
    position: relative;
    top:-80px ;
    left: 6%;
    width: 90%;
    text-align: center;
}

.encabezado2 h2{
    top: -15px;
}

.filoen {
    position: relative;
    left: 38%;
    font-size: 50px;
    font-style: italic; 
    margin: 6px;
    color:rgb(0, 110, 192);
    width: 200px;
}

.fondo2::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 110, 192, 0.85);
}

.fondo2 {
    position: relative;
    top: -50px;
    margin: auto;
    width: 100%;
    height: 100px;
    background-size: 100% 100%;
    color: white;
    background-image: url('../imagenes/18.jpg');
    background-size: cover;
    background-position: center center;
}

.salir{
    position: relative;
    left: 65px;
}

.boton li {
    list-style-type: none;
    margin: 0px 5px;
}

.navegacion2 .menu2{
    list-style: none;
    position: absolute;
    display: flex;
    width: 20%;
    margin: 0px;
    padding: 0px;
    left: 79%;
    top: 35px;
}

.menu2 > li{
    padding: 0px 5px;
}

.submenu2 {
    position: absolute;
    margin: 0px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    width: 60%;      
}

.submenu2 li{
    background: rgba(0, 110, 192, 0.5);
    width: 100%;
}

.submenu2 li a{
    display: block;
    padding: 7px 15px;
    color: white;
    font-family: 'calibri';
    font-size: 110%;
    text-decoration: none;
}

.menu2 li:hover .submenu2{
   visibility: visible;
   opacity: 1;
   right: 80px;
}

.submenu2 li a:hover{
    position: relative;
    font-family: 'calibri';
    left: 5%;
    color: lightseagreen;
    font-weight: bold;
}

.fondo2 h1 {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.fondo3 {
    position: relative;
    background-image: url("../imagenes/24.jpg");
    background-size: 100% 100%;
    top: -67.9px;
    height: 450px;
}

.fondo4 {
    position: absolute;  
    top: 200px;
    width: 40%;
    left: 30%;
}

.fondo4 img {
    position: relative;
    height: 150px;
    width: 150px;
    left: 35%;
}

.fondo4 h1 {
    position: relative;
    text-align: center;
    font-family: 'arial narrow';
    color: rgb(0, 110, 192);
    font-size: 250%;
}

.fondo4 p {
    position: relative;
    text-align: center;
    font-family: 'Arial Narrow';
    font-size: 120%;
    color: rgb(0, 110, 192);
    width: 40%;
    left: 27%;
}

.navegacion{
    position: relative;
    top: -50px;
    width: 99%;
    margin: 0px 0px;
}

.navegacion ul{
    list-style: none;
}

.menus > li{
    position: relative;
    display: inline-block;
    width: 150px;
    padding: 0px 5px;
    left: 2%;
}

.menus > li > a{
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    text-align: center;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
}


.menus li a:hover{
    color: #11408D;
    border-radius: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submenu {
    position: absolute;
    background: rgba(0, 110, 192, 0.8);
    border-radius: 5px;
    margin: 0.5px 0px;
    width: 150px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a{
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: 'calibri';
    font-size: 100%;
    text-decoration: none;
}

.menus li:hover .submenu{
   visibility: visible;
   opacity: 1;
   border-radius: 10px;
}

.submenu li a:hover{
    background: white;
    font-family: 'calibri';
}

.informacion {
    position: relative;
    font-family: 'arial narrow';
    font-style: italic;
    color: white;
    font-size: 100%;
    margin: 10px 0px 15px 0px;
    padding: 2px 10px 2px 0px;
    width: 220px;
    text-align: center;
    left: 50px;
    top: 0px;
    background: rgb(0, 110, 192);
    border: solid 1px #255DB9;
    border-radius: 3px;
}

.prueba {
    position: relative;
    display: flex;
}

.menuAplicaciones {
    position: relative;
    width: 16%;
    top: 0px;
    margin: 0px 0px 25px 25px;
    padding: 10px;
}

.menuAplicaciones li {
    position: relative;
    list-style-type:none;
    margin: 10px 30px;
}

.menuAplicaciones li a {
    position: relative;
    text-decoration: none;
    font-family: 'calibri';
    font-size: 130%;
    color: #255DB9;
}

.menuAplicaciones li:hover{
    position: relative;
    left: 15px;
    transition: all .4s ease;
}

.menuAplicaciones li a:hover{
    color: orangered;
    font-weight: bold;
}

.menuAplicaciones li a img{
    width: 30px;
    height: 30px;
}

.menuregistro3 {
    position: relative;
    left: 15%;
    top: -40px;
    width: 43%;
    height: 50px;
}

.menuregistro3 li {
    position: relative;
    display: inline-block;
    margin: 0px;
    width: 300px;
    padding: 10px 10px;
    list-style-type:none;
    border-radius: 2px;
    background: rgb(0, 110, 192);
}

.menuregistro3 li a {
    position: relative;
    text-decoration: none;
    font-family: 'calibri';
    left: 0;
    font-size: 120%;
    color: white;
    padding: 0px 70px;

}

.menuregistro3 .muro a {
    position: relative;
    left: 15%;
}

.articulo {
    position: relative;
}

.menuregistro3 li:hover {
    background: orangered;
    cursor: pointer;
}

.menuregistro3 li:active {
    background: #11408D;

}

.not1 {
    position: absolute;
    left: 34%;
    top: 30px;
    width: 40%;
    padding: 15px;
    height: 50%;
    background: #E5ECF7;
    border-radius: 30px;
    overflow: hidden;
}

.not1 h4 {
    width: 12%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #11408D;
    font-size: 90%;
}

.not1 h3 {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(0, 110, 192);
    left: 13%;
    top: 15px;
    font-size: 90%;
}

.not1 img {
    position: relative;
    left: 30%;
    margin: 0px 0px 15px 0px;
}

.not1 h2 {
    text-align: center;
    margin: 10px 20px 20px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #11408D;
    font-size: 120%;
}

.vermas {
    position: relative;
    bottom:0px ;
    right:0px ;
    margin: 10px 0px 0px 30px;
    padding: 0px;
    display: inline-block;
    list-style-type:none;
}

.vermas a {
    display: inline-block;
    text-decoration: none;
    color: #255DB9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    text-align: center;
}

.vermas a:hover {
    width: 90px;
    margin: 2px;
    padding: 2px;
    background: rgb(0, 110, 192);
    color: white;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0px 3px 0px #214B90;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.vermas a:active {
    box-shadow: none;
}

.pie {
    position: absolute;
    background: #11408D;
    width: 99%;
    margin: 0px;
    padding: 10px;
}

.pie p {
    position: relative;
    left: 0%;
    margin: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:hover{
    color: orangered;
}