/* Common, default styles for the notification box */

.ns-box {
	position: relative;
	background: rgba(42,45,50,0.85);
	padding: 18px;
	line-height: 1.4;
	z-index: 1000;
	pointer-events: none;
	color: rgba(250,251,255,0.95);
	font-size: 90%;
	font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.ns-box.ns-show {
	pointer-events: auto;
}

.ns-box a {
	color: inherit;
	opacity: 0.7;
	font-weight: 700;
}

.ns-box a:hover,
.ns-box a:focus {
	opacity: 1;
}

.ns-box p {
	margin: 0;
}

.ns-box.ns-show,
.ns-box.ns-visible {
	pointer-events: auto;
}

.ns-close {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 4px;
	top: 4px;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.ns-close:hover, 
.ns-close:focus {
	outline: none;
}

.ns-close::before,
.ns-close::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 60%;
	top: 50%;
	left: 50%;
	background: #6e6e6e;
}

.ns-close:hover::before,
.ns-close:hover::after {
	background: #fff;
}

.ns-close::before {
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
}

.ns-close::after {
	-webkit-transform: translate(-50%,-50%) rotate(-45deg);
	transform: translate(-50%,-50%) rotate(-45deg);
}


.ns-type-notice{background-color:rgba(64, 166, 204, .8);border-color:rgba(231,76,60,.88); z-index: 1900;}
.ns-type-notice:hover{background-color:rgba(64, 166, 204, .9);border-color:rgba(231,76,60,.88); z-index: 1900;}
.ns-type-error{background-color:rgba(231,76,60,.8);border-color:rgba(231,76,60,.88); z-index: 1900;}
.ns-type-error:hover{background-color:rgba(231,76,60,.9);border-color:rgba(231,76,60,.88); z-index: 1900;}
.ns-type-warning {
    color: #E9EDEF;
    background-color: rgba(251, 168, 17, 0.8)!important;
    border-color: rgb(160, 107, 9);
    z-index: 1900;
}
.ns-type-warning:hover {
    color: #ffffff;
    background-color: rgba(251, 168, 17, 0.9);
    border-color: rgb(160, 107, 9);
    z-index: 1900;
}


.ns-box{
    color : rgba(255, 255, 255, 0.88);
    display: block;
    position: fixed;
    margin-top: 7px;
    border-radius: 3px;
    top: 15px;
}
.ns-box-inner{
    max-width: 214px;
    border-radius: 3px;
}
.contenedorNotificacion {
    position: fixed;
    top: 30px;
    right: 35px;
    z-index: 1900;
}