*{
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
}

.iblog .uno{
    width: 50px;
    height: 40px;
}

.iblog h4{
    font-size: 100%;
    font-family: 'Edwardian Script ITC';
    margin: 0px;
}

.iblog h2{
    position: absolute;
    font-size: 130%;
    font-style: italic;
    color: rgb(0,110,192);
    left: 40%;
}

.row .dos{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 10px;
}

.row h1{
    position: absolute;
    left: 40%;
    font-family: 'Segoe Print';
    font-weight: bold;
    font-size: 320%;
    color: rgb(0,110,192);
}

.salir{
    position: relative;
    left: 65px;
}

.boton li {
    list-style-type: none;
    margin: 0px 0px;
}

.navegacion2 .menu2{
    position: absolute;
    display: flex;
    left: 79%;
    top: 15px;
}

.navegacion2 li img{
    width: 50px;
    height: 30px;
}

.submenu2 {
    position: absolute;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    width: 85%; 
    left: 50px;     
}

.submenu2 li{
    background: rgba(0, 110, 192, 0.6);
    width: 100%;
}

.submenu2 li a{
    display: block;
    padding: 7px 15px;
    color: white;
    font-family: 'arial narrow';
    font-size: 110%;
    text-decoration: none;
}

.menu2 li:hover .submenu2{
   visibility: visible;
   opacity: 1;
   right: 80px;
}

.submenu2 li a:hover{
    position: relative;
    font-family: 'arial narrow';
    left: 5%;
    color: lightseagreen;
    font-weight: bold;
}

.fontello{
    position: relative;
    top: -30px;
    background-image: url('../imagenes/17.5.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.fontellos{
    position: relative;
    top: -30px;
    background-image: url('../imagenes/bv.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.iblog{
    position: relative;
    display: flex;
    margin: 0px 5px;
    padding: 5px;
    border-radius: 5px;
    width: 20%;
    height: 55px;
    top: -44px;
    box-shadow: rgb(193, 194, 196) 2px 2px 2px 2px;
}

.titulo {
    position: absolute;
    top: 490px;
    left: 40%;
    font-weight: bold;
    width: 500px;
    font-size: 250%;
    font-family: 'arial narrow';
    color: rgb(0, 110, 192);
}

.linea {
    position: relative;
    top: 0px;
    width: 80%;
    left: 8%;
    border: solid 1px rgb(0, 110, 192);  
}

.navegacion{
    position: relative;
    top: -44px;
    width: 200%;
    padding: 6px 0px;
    border-radius: 5px;
    box-shadow: rgb(193, 194, 196) 2px 2px 2px 2px;
}

.navegacion ul{
    position: relative;
    list-style: none;
    width: 80%;
    display: flex;
    left: 20%;
    top: 5px;
}

.menus > li{
    position: relative;
    width: 120px;
    text-align: center;
}

.menus > li > a{
    padding: 0px 0px;
    text-decoration: none;
    color: gray;
    font-family: 'arial narrow';
    font-size: 100%;
}

.menus li a:hover{
    color: #11408D;
    font-family: 'arial narrow';
}

.menus li:hover{
   visibility: visible;
   opacity: 1;
   border-radius: 10px;
}

.menus li img{
    width: 40px;
}

.menuAplicaciones {
    position: relative;
    padding: 5px;
    box-shadow: rgb(193, 194, 196) 3px 3px 3px 3px;
}

.menuAplicaciones li {
    position: relative;
    list-style-type:none;
    margin: 10px;
}

.menuAplicaciones li a {
    position: relative;
    text-decoration: none;
    font-family: 'arial narrow';
    font-size: 120%;
    color: #255DB9;
    padding: 0px 10px;
}

.menuAplicaciones li a:hover{
    color: rgb(0,176,240);
}

.menuAplicaciones li a img{
    width: 30px;
    height: 30px;
    margin: 0px;
    padding: 0px;
}

.menuAplicaciones h4{
    position: relative;
    font-size: 120%;
    font-family: 'arial narrow';
    left: 8%;
    font-style: italic;
    margin-bottom: 10px;
    color: gray;
}

.main .contenido{
    width: 95%;
    height: 200px;
    text-align: justify;
    font-family: 'arial narrow';
    font-size: 110%;
    overflow: hidden;
}

.main a img{
    position: relative;
    width: 50px;
}

.opciones .coment img{
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0px 0px;
    margin: 0px 0px 0px 10px;
}

.opciones .coment{
    position: relative;
    left: 60%;
}

.opciones{
    position: relative;
    display: flex;
    margin: -10px;
    width: 75%;
    left: 10%;
}

.opciones .gusta{
    position: relative;
    left: 60%;
}

.opciones .leer{
    position: relative;
    margin: 5px 10px;
    padding: 0px 10px;
    border-radius: 5px;
    font-family: 'arial narrow';
    background: rgb(0,110,192);
    color: white;
}

.opciones .leer:hover{
    font-weight: bold;
    font-family: 'arial narrow';
    text-decoration: none;
}

.paginacion a{
    position: relative;
    margin: 2px 2px 10px 2px;
    padding: 3px;
    left: 55%;
    color: white;
    background: rgb(0,110,192);
    font-family: 'arial narrow';
    font-size: 120%;
    border-radius: 5px;
}

.paginacion a:hover{
    text-decoration: none;
    background: white;
    color: rgb(0,110,192);
}

.info p{
    font-family: 'arial narrow';
    font-size: 120%;
    text-align: justify;
}

.info a{
    position: relative;
    margin: 0px 10px;
    padding: 5px 10px;
    color: white;
    background: rgb(0,110,192);
    border-radius: 5px;
    left: 15%;
}

.info a:hover{
    text-decoration: none;
    color: white;
    background: green;
}

.row .informacionpersonal{
    width: 100%;
    height: auto;
    border: solid black;
}

.footer1{
    position: relative;
    width: 100%;
    height: 50px;
    background: darkgrey;
    margin-top: 10px;
    border: 0.5px solid black;
}

.footer1 .row a img{
    position: relative;
    top: -5px;
    width: 50px;
    height: 30px;
    left: 750%;
}

.pie {
    position: relative;
    background: #11408D;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

.main .botones img{
    position: relative;
    width: 45px;
    height: 25px;
    left: 60%;
}

.main input{
    position: relative;
    left: 10%;
}

.pie p {
    position: relative;
    left: 0%;
    margin: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:hover{
    color: orangered;
}

