*{
    margin: 0px;
    padding: 0px;
}

.encabezado img{
    position: relative;
    width: 200px;
    left: 5%;
}

.boton li {
    list-style-type: none;
    margin: 0px 5px;
}

.salir{
    position: relative;
    left: 65px;
}

.navegacion2 .menu2{
    list-style: none;
    position: relative;
    display: flex;
    width: 20%;
    margin: 0px;
    padding: 0px;
    left: 70%;
    top: -40px;
    z-index: 99999;
}

.menu2 > li{
    padding: 0px 5px;
}

.submenu2 {
    position: absolute;
    margin: 0px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s;
    width: 80%;
    left: 55%;
}

.submenu2 li{
    background: rgba(0, 110, 192, 0.5);
    width: 100%;
}

.submenu2 li a{
    display: block;
    padding: 7px 15px;
    color: white;
    font-family: 'arial narrow';
    font-size: 110%;
    text-decoration: none;
}

.menu2 li:hover .submenu2{
   visibility: visible;
   opacity: 1;
   right: 80px;
}

.submenu2 li a:hover{
    position: relative;
    font-family: 'arial narrow';
    left: 5%;
    color: lightseagreen;
    font-weight: bold;
}

.fondo1::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 110, 192, 0.85);
}

.fondo1 {
    position: relative;
    top: -30px;
    margin: 0px 5px;
    width: 99%;
    height: 250px;
    color: white;
    background-image: url('../imagenes/554.jpg');
    background-size: cover;
    background-position: center center;
}

.fondo2 img {
    position: relative;
    width: 15%;
    height: 240px;
    left: 60%;
    top: 15px;
}

.fondo1 h1 {
    position: absolute;
    top: 40px;
    margin: 20px;
    left: 36%;
    font-size: 340%;
    font-family: 'arial narrow';
    font-weight: bold;
}

.movimiento{
    position: absolute;
    width: 90%;
    height: 37px;
    font-size: 180%;
    line-height: 35px;
    top: 130px;
    text-align: center;
    overflow: hidden;
    font-family: 'arial narrow';
}

.movimiento ul{
    list-style: none;
    animation: cambiar 10s infinite;
}

.movimiento ul, p{
    margin: 0px;
}

@keyframes cambiar {
    0%{ margin-top: 0;}
    20%{ margin-top: 0;}

    25%{ margin-top: -50px;}
    50%{ margin-top: -50px;}

    55%{ margin-top: -100px;}
    80%{ margin-top: -100px;}

    85%{ margin-top: -50px;}
    95%{ margin-top: -50px;}

    100%{ margin-top: 0px;}  
}

.navegacion{
    position: relative;
    top: -32px;
    height: 50px;
    width: 99%;
    margin: 0px 0px 0px 5px;
    box-shadow: rgb(193, 194, 196) 7px 7px 7px;
}

.navegacion ul{
    list-style: none;
}

.menus > li{
    position: relative;
    display: inline-block;
    width: 160px;
    padding: 0px 0px;
    left: 5%;
   
}

.menus > li:hover{
    border-bottom: solid 2px rgb(48, 156, 238);
}

.menus > li > a{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    text-align: center;
    color: gray;
    font-family: 'arial narrow';
    font-size: 120%;
    
}

.menus li a:hover{
    color: #11408D;
    border-radius: 10px;
    font-family: 'arial narrow';
}

.submenu {
    position: absolute;
    background: rgba(0, 110, 192, 0.8);
    border-radius: 5px;
    margin: 2px 0px;
    width: 230px;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.submenu li a{
    display: block;
    text-align: center;
    padding: 5px;
    color: white;
    font-family: 'arial narrow';
    font-size: 120%;
    text-decoration: none;
}

.menus li:hover .submenu{
   visibility: visible;
   opacity: 1;
   border-radius: 10px;
}

.submenu li a:hover{
    background: white;
    font-family: 'arial narrow';
} 

.lineas{
    position: relative;
    width: 80%;
    left: 8%;
}

.texto1 {
    padding: 0px 30px 0px 50px;
    margin: 0px 0px 0px 10px;
    width: 100%;
}

.texto1 h1{
    padding: 5px 0px 30px 0px;
    font-family: 'arial narrow';
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.texto1 p{
    width: 97%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.texto2{
    position: relative;
    width: 70%;
    top: 30px;
}

.texto2 h1 {
    padding: 5px 0px 30px 0px;
    font-family: 'arial narrow';
    width: 90%;
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.media-body{
    display: flex;
}

.texto2 p{
    position: relative;
    width: 100%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.texto3 {
    position: relative;
    top: 40px;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px 0px 10px;
    width: 100%;
}

.texto3 h1{
    padding: 5px 0px 30px 0px;
    width: 95%;
    font-family: 'arial narrow';
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.texto3 p{
    width: 99%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.texto4{
    position: relative;
    width: 70%;
    top: 40px;
}

.texto4 h1 {
    padding: 5px 0px 30px 0px;
    font-family: 'arial narrow';
    width: 98%;
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.texto4 p{
    position: relative;
    width: 95%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.media-left a{
    position: relative;
    top: 30px;
}

.texto5 {
    position: relative;
    top: 40px;
    padding: 0px 0px 0px 30px;
    margin: 20px 0px 0px 10px;
    width: 100%;
}

.texto5 h1{
    padding: 5px 0px 30px 0px;
    font-family: 'arial narrow';
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.texto5 p{
    width: 100%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.texto6 {
    position: relative;
    width: 70%;
    top: 60px;
}

.texto6 h1 {
    padding: 5px 0px 20px 0px;
    font-family: 'arial narrow';
    width: 98%;
    font-size: 250%;
    color: rgb(0, 110, 192);
}

.texto6 p{
    position: relative;
    width: 95%;
    margin: 10px 0px 0px 0px;
    font-family: 'arial';
    font-size: 120%;
    line-height: 35px;
    color: #535456;
    font-weight: 500;
}

.pie {
    position: absolute;
    background: #11408D;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 10px;
}

.pie p {
    position: relative;
    left: 0%;
    margin: 10px;
    text-align: center;
}

.pie a {
    text-decoration: none;
    color: white;
}

.pie a:hover{
    color: orangered;
}